/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header{
  width: 100%;
  height: auto;
    background: black
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
   gap: clamp(50px,8vh,130px)
}
ul{
  display: flex;
    align-items:center;
  justify-content: center;
    gap:clamp(90px,8vh,130px)
}
.logo{
  width:clamp(170px,8vh,300px);

}
.icono{
  width:clamp(50px,8vh,80px);
}
input{
  width:clamp(230px,8vh,50px);
  
  
  
}